.App {
  text-align: center;
}

.ui.segment.placeholder {
  max-width: 500px;
  margin: auto;
}

.ui.vertical.menu {
  max-width: 300px;
  height: 700px;
  float: left;
}

.ui.card.home-image {
  margin: auto;
  margin-top: 10rem;
  margin-bottom: 5rem;
  min-width: 500px;
  min-height: 250px;
}

.ui.card.subject {
  margin: auto;
  margin-bottom: 50px;
}

.ui.image.sub {
  min-width: 290px;
  min-height: 180px;
}

.ui.card.course {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.ui.card.res {
  max-width: 250px;
  max-height: 250px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.ui.image.resource {
  max-width: 250px;
  max-height: 200px;
}

.ui.grid {
  margin: auto;
  padding: 50px;
}

.three.column.row {
  margin: auto;
  padding-left: 50px;
}

.three.column.row.sources {
  padding-left: 100px;
}

.title {
  margin: auto;
}
