.App {
  text-align: center;
}

.ui.segment.placeholder {
  max-width: 500px;
  margin: auto;
}

.ui.vertical.menu {
  max-width: 300px;
  height: 700px;
  float: left;
}

.ui.card.home-image {
  margin: auto;
  margin-top: 10rem;
  margin-bottom: 5rem;
  min-width: 500px;
  min-height: 250px;
}
